<link rel="stylesheet" href="/Public/assets/css/chosen.css" />
<script src="/Public/assets/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/css/lightbox.css" />
<script type="text/javascript" src="/Public/js/lightbox.js"></script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <style>
        .centerbox{
            width: 100%;
        }
        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }
        .span2{
            padding: 2px;
            border: 1px solid #DEDEDE;
            margin-bottom: 5px;
        }
        .span2 p{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/index.php/TPH/Index/index.html">首页</a>
        </li>
        <li class="active">管理员管理</li>
    </ul><!-- .breadcrumb -->

    <!-- <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- #nav-search -->
</div>

<div class="page-content">

    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title">管理员列表</h4>
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="general-label">
                                    <form class="form-inline" action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/all')}" role="form">
                                        <!--<div class="form-group">-->
                                        <!--<label class="sr-only" for="exampleInputEmail2">搜索条件1</label>-->
                                        <!--<input type="text" name="keyword1" class="form-control ml-2" id="exampleInputEmail2" placeholder="搜索条件1">-->
                                        <!--</div>-->

                                        <!--<div class="form-group m-l-10">-->
                                        <!--<label class="sr-only" for="exampleInputPassword2">搜索条件2</label>-->
                                        <!--<input type="text" name="keyword2" class="form-control ml-2" id="exampleInputPassword2" placeholder="搜索条件2">-->
                                        <!--</div>-->

                                        <!--<button type="submit" class="btn btn-sm btn-success ml-2">搜索</button>-->
                                        <!--&nbsp;-->
                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="float:right;margin-bottom: 15px;"><i class="mdi mdi-plus-circle"></i>添加一个新账号</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><center>id</center></th>
                            <th><center>用户名</center></th>
                            <th><center>角色</center></th>
                            <th><center>创建时间</center></th>
                            <th><center>最后更新时间</center></th>
                            <th><center>最后登陆时间</center></th>
                            <th><center>状态</center></th>
                            <th><center>操作</center></th>
                        </tr>
                        </thead>
                        <tbody>
                        <notempty name="sys_user_infoList">
                            <volist name="sys_user_infoList" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.user_name}</td>
                                    <td>{$vo.name|default="<span style='color:red;'>暂未分配角色</span>"}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.update_time}</td>
                                    <td>{$vo.last_login_time}</td>
                                    <td>
                                        <if condition="$vo.status eq 1">
                                            <button data-id="{$vo.id}" data-type="{$vo.status}" class="check-btn btn-outline-info waves-effect waves-light">正常</button>
                                            <else/>
                                            <button data-id="{$vo.id}" data-type="{$vo.status}" class="check-btn btn-outline-warning waves-effect waves-light">禁用</button>
                                        </if>
                                    </td>
                                    <td>
                                        <div class="button-items">
                                            <a class="btn btn-sm btn-success" href="{:U(MODULE_NAME.'/SysUserInfo/edit/id/'.$vo[id])}"><i class="mdi mdi-table-edit"></i>编辑</a>
                                            <a class="btn btn-sm btn-danger del" href="javascript:void(0);" data-id="{$vo[id]}"><i class="mdi mdi-delete-forever"></i>删除</a>
                                        </div>
                                    </td>
                                <tr>
                            </volist>
                            <else/>
                            <td colspan="99" style="text-align:center;background: #cc213196;color: #fff;" class="danger"> <strong><i class="fa fa-meh-o"></i>
                                &nbsp;&nbsp;当前条件下没有数据</strong>
                            </td>
                        </notempty>
                    </table>

                    <td colspan="99" style="text-align:center">
                        <ul class="pagination">{$page}</ul>
                    </td>            </div>
            </div>
        </div>
    </div>

</div>




<!--模态框-->
<!-- Modal -->
<form role="form" id="form-signins" action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add')}" method="POST">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="myModalLabel">添加</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                                <label class="control-label" for="user_name">用户名</label>
                                    <input type="text" class="form-control" placeholder="用户名"
                                           name="user_name" id="user_name" />
                            </div>
                    <div class="form-group">
                        <label class="control-label" for="tel">联系方式</label>
                            <input type="text" class="form-control" placeholder="联系方式"
                                   name="tel" id="tel" />
                    </div>
                            <div class="form-group">
                                <label class="control-label" for="password">密码</label>
                                    <input type="text" class="form-control" placeholder="密码"
                                           name="password" id="password" />
                            </div>
                        <div class="form-group">
                            <label class="control-label" for="status">角色</label>
                                <select class="form-control ml-2" name="role">
                                    <volist name="role" id="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </volist>
                                </select>
                        </div>
                            <div class="form-group">
                                <label class="control-label" for="status">状态</label>
                                    <select class="form-control ml-2" name="status">
                                        <option value="1">正常</option>
                                        <option value="2">禁用</option>
                                    </select>
                            </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>
</form>
<!-------->


<script>


    $("#form-signins").ajaxForm({
        dataType:'json',
        clearForm:false,
        beforeSerialize:function(){
            if ($('#teacher_names').val() == '' || $('#teacher_cat_id').val() == '') {
                layer.alert("必须输入人员名称,并选择人员的部门!", {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })
                return false;
            }
        },

        success:function(data){
            if (data.state == 100) {
                layer.alert(data.msg, {
                    icon: 1,
                    skin: 'layer-ext-moon'
                })
                setTimeout(function(){window.location.reload();},2000);
            } else {
                layer.alert(data.msg, {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })

            }
        }
    });



    $(".del").click(function(){
        var obj = $(this);
        var id = $(this).attr("data-id");

        layer.confirm('确认要删除本条记录吗 ？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                type: "POST",
                url:  "{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/delete')}",
                data: {id:id},
                dataType: "json",
                success: function(data){
                    if(data.state==100){
                        layer.msg(data.msg, {icon: 1});
                        obj.parent().parent().parent().remove();
                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }, function(){

        });


    })







    $(".check-btn").click(function(){
        var obj = $(this);
        var id = $(this).attr("data-id");
        var type = $(this).attr("data-type");
        if(type == 1){
            type = 2;
        }else{
            type = 1;
        }
        layer.confirm('确认要进行该操作 ？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                type: "POST",
                url:  "{:U('SysUserInfo/userType')}",
                data: {id:id,type:type},
                dataType: "json",
                success: function(data){
                    if(data.state==100){
                        layer.msg(data.msg, {icon: 1});
                        if(type==1){
                            obj.removeClass("btn-outline-warning");
                            obj.addClass("btn-outline-info");
                            obj.attr('data-type',1);
                            obj.text('正常');
                        }else{
                            obj.removeClass("btn-outline-info");
                            obj.addClass("btn-outline-warning");
                            obj.attr('data-type','2');
                            obj.text('禁用');
                        }

                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }, function(){

        });


    })





</script>