
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{:U('Index/index')}">首页</a>
			</li>
			<li class="active">管理员列表</li>
		</ul><!-- .breadcrumb -->

		<!-- <div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
					管理员管理
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
				<div class="col-xs-12 col-sm-12">
						<div class="widget-box">
							<div class="widget-header">
								<h4>新增管理员</h4>

								<span class="widget-toolbar">

									<a href="#" data-action="collapse">
										<i class="icon-chevron-up"></i>
									</a>

									<a href="#" data-action="close">
										<i class="icon-remove"></i>
									</a>
								</span>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<form class="form-inline" role="form" id="form-signin" action="{:U('system/add')}" method="POST">
									  <div class="form-group">
									    <label class="sr-only">登陆账号</label>
									    <input type="text" name="username" class="form-control" id="username" placeholder="管理员用于登陆的账号">
									  </div>

									  <div class="form-group">
									    <label class="sr-only">密码</label>
									    <input type="password" name="password" class="form-control" id="password" placeholder="用于登陆的密码">
									  </div>

										<div class="form-group">
									    <label class="sr-only">确认密码</label>
									    <input type="password" class="form-control" id="repassword" placeholder="再次确认输入的密码">
									  </div>

									  <button type="submit" class="btn btn-sm btn-warning">添加</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<!-- <th class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th> -->
										<th>ID</th>
										<th>用户名</th>
										<th class="hidden-480">状态</th>


										<th>操作</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<!-- <td class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</td> -->
										<empty name="result">
		                    <td colspan="99" style="text-align:center" class="danger"> <strong><i class="fa fa-meh-o"></i>
		                            &nbsp;&nbsp;当前条件下没有数据</strong>
		                    </td>
		                    <else />
		                    <volist name="result" id="data">
													<tr>
													<td>{$data.admin_id}</td>
													<td>{$data.admin_name}</td>
													<td><if condition = "$data.admin_status eq 1"><span class="label label-sm label-success">使用中</span><else/><span class="label label-sm label-danger">被封号</span></if></td>
													
													<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

																<button class="btn btn-sm btn-danger del_it" data-id="{$data.admin_id}">
																	<i class="icon-info-sign bigger-110"></i>
																	<span class="bigger-110 no-text-shadow">删除</span>
																</button>

															</div>


														</td>
													</tr>
												</volist>
										</empty>

									<tr>
											<td colspan="99" style="text-align:center">
													<ul class="pagination">{$pageView}</ul>
											</td>
									</tr>


								</tbody>
							</table>
						</div><!-- /.table-responsive -->
					</div><!-- /span -->
				</div><!-- /row -->



			<script>


					$("#form-signin").ajaxForm({
							dataType:'json',
							clearForm:false,
							beforeSerialize:function(){
									if ($('#password').val() == '' || $('#username').val() == '' || $('#repassword').val() == '') {
											layer.alert("必须输入账号密码,并且确认密码!", {
												icon: 2,
												skin: 'layer-ext-moon'
											})
											return false;
									}
									if($('#password').val() !== $('#repassword').val()){
										layer.alert("两次输入的密码不一样!", {
											icon: 2,
											skin: 'layer-ext-moon'
										})
										return false;
									}

							},
							success:function(data){
									if (data.state == 100) {
										layer.alert(data.msg, {
											icon: 1,
											skin: 'layer-ext-moon'
										})
										setTimeout(function(){window.location.reload();},2000);
									} else {
										layer.alert(data.msg, {
											icon: 2,
											skin: 'layer-ext-moon'
										})


									}
							}
					});


					$(document).on("click",'.del_it',function(){

			        var id  = $(this).attr("data-id");
							layer.confirm('确定要删除该管理员 ？', {
							  btn: ['删除','取消'] //按钮
							}, function(){
								$.ajax({
										type: "POST",
										url:  '{:U("system/del_it")}',
										data: {id:id},
										dataType: "json",
										success: function(data){
												if(data.state==100){
														layer.msg('删除成功!', {icon: 1});
														location.reload(true);
												}else{
														layer.msg('删除失败!', {icon: 2});
												}
										}
								});

							}, function(){
							
							});
						});











			</script>
