<div class="row" style="margin-top: 20px;">
    <form class="form-horizontal" id="form1" method="post">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">修改xxx</h4>
                <p class="text-muted m-b-30 font-14">----------------------------------------------------------------------------------------------------------------------------------------------------</p>
                <div class="form-group row">
                                <label for="comment_id" class="col-sm-2 col-form-label">comment_id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="comment_id" name="comment_id" id="comment_id"  value="{$mass_comment.comment_id}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="teacher_id" class="col-sm-2 col-form-label">teacher_id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="teacher_id" name="teacher_id" id="teacher_id"  value="{$mass_comment.teacher_id}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="hmy" class="col-sm-2 col-form-label">hmy</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="hmy" name="hmy" id="hmy"  value="{$mass_comment.hmy}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="my" class="col-sm-2 col-form-label">my</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="my" name="my" id="my"  value="{$mass_comment.my}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="yb" class="col-sm-2 col-form-label">yb</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="yb" name="yb" id="yb"  value="{$mass_comment.yb}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="bmy" class="col-sm-2 col-form-label">bmy</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="bmy" name="bmy" id="bmy"  value="{$mass_comment.bmy}" />
                                </div>
                            </div>
                                    </div>
        </div>
    </div> <!-- end col -->
    <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
            <input type="submit" value="提交" class="btn btn-warning" />
            <button type="button" class="btn btn-primary" onclick="javascript:history.back(-1);">返回</button>
        </div>
    </div>
</form></div>

<script>
$("#form1").ajaxForm({
		dataType:'json',
		clearForm:false,
		beforeSerialize:function(){
				if ($('#teacher_name').val() == '') {
						layer.alert("人员名称不能为空!", {
							icon: 2,
							skin: 'layer-ext-moon'
						})
						return false;
				}
		},
		success:function(data){
				if (data.state == 100) {
					layer.alert(data.msg, {
						icon: 1,
						skin: 'layer-ext-moon'
					})
					setTimeout(function(){window.location.reload();},2000);
				} else {
					layer.alert(data.msg, {
						icon: 2,
						skin: 'layer-ext-moon'
					})

				}
		}
});


//$(".chzn-select").chosen();
				//$('.chzn-select').on('click', function(e){
				 // var target = $(e.target).find('input[type=radio]');
				  //var which = parseInt(target.val());
				  //if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
				  // else $('#form-field-select-4').removeClass('tag-input-style');
				//});
</script>