<link rel="stylesheet" href="/Public/assets/css/chosen.css" />
<script src="/Public/assets/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/css/lightbox.css" />
<script type="text/javascript" src="/Public/js/lightbox.js"></script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <style>
        .centerbox{
            width: 100%;
        }
        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }
        .span2{
            padding: 2px;
            border: 1px solid #DEDEDE;
            margin-bottom: 5px;
        }
        .span2 p{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/index.php/TPH/Index/index.html">首页</a>
        </li>
        <li class="active">xx管理</li>
    </ul><!-- .breadcrumb -->

    <!-- <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- #nav-search -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            mass_leave列表
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4>查找mass_leave</h4>

								<span class="widget-toolbar">

									<a href="#" data-action="collapse">
                                        <i class="icon-chevron-up"></i>
                                    </a>

									<a href="#" data-action="close">
                                        <i class="icon-remove"></i>
                                    </a>
								</span>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <form class="form-inline" role="form" id="form-signin" action="/index.php/TPH/Teacher/index.html" method="get">
                                    <div class="form-group">
                                        <label class="sr-only">名称</label>
                                        <input type="text" name="teacher_name" class="form-control" id="teacher_name" placeholder="请输入关键字">
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only">分类</label>
                                        <select class="form-control" name="teacher_cat_id" id="form-field-select-1">
                                            <option value="">全部分类</option>
                                                                                    </select>
                                    </div>


                                    <div class="form-group">
                                        <label class="sr-only">审核状态</label>
                                        <select class="form-control" name="Teacher_type" id="video_typed">
                                            <option value="" selected="selected">全部</option>
                                            <option value="0" >已审核</option>
                                            <option value="1" >未审核</option>
                                        </select>
                                    </div>



                                    <button type="submit" class="btn btn-sm btn-warning">查找</button>
                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="float:right;"><i class="icon-plus"></i>添加</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
    <thead>
    <tr>
        <th><center>ID</center></th><th><center>人员名称</center></th><th><center>请假时间</center></th><th><center>日期</center></th>        <th><center>操作</center></th>
    </tr>
    </thead>
    <tbody>
    <notempty name="mass_leaveList">
    <volist name="mass_leaveList" id="vo">
    <tr>
        <td>{$vo.id}</td><td>{$vo.teacher_id}</td><td>{$vo.leave_time}</td><td>{$vo.dates}</td>        <td>
            <div class="button-items">
              <a class="btn btn-sm btn-success" href="{:U(MODULE_NAME.'/MassLeave/edit/id/'.$vo[id])}"><i class="mdi mdi-table-edit"></i>编辑</a>
              <a class="btn btn-sm btn-danger del" href="javascript:void(0);" data-id="{$vo[id]}"><i class="mdi mdi-delete-forever"></i>删除</a>
            </div>
        </td>
    <tr>
        </volist>
        <else/>
        <td colspan="99" style="text-align:center;background: #cc213196;color: #fff;" class="danger"> <strong><i class="fa fa-meh-o"></i>
            &nbsp;&nbsp;当前条件下没有数据</strong>
        </td>
         </notempty>
</table>

    <td colspan="99" style="text-align:center">
        <ul class="pagination">{$page}</ul>
    </td>                    </div><!-- /.table-responsive -->
                </div><!-- /span -->
            </div><!-- /row -->




            <!--模态框-->
            <!-- Modal -->
            <form role="form" id="form-signins" action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add')}" method="POST">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">添加</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                            <label class="control-label" for="teacher_id">人员名称</label>

                                                <input type="text" class="form-control" placeholder="人员名称"
                                                       name="teacher_id" id="teacher_id" />

                                        </div><div class="form-group">
                                            <label class="control-label" for="leave_time">请假时间</label>

                                                <input type="text" class="form-control" placeholder="请假时间"
                                                       name="leave_time" id="leave_time" />

                                        </div><div class="form-group">
                                            <label class="control-label" for="dates">日期</label>

                                                <input type="text" class="form-control" placeholder="日期"
                                                       name="dates" id="dates" />

                                        </div>                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">添加</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div></div></div>
            <!-------->
            <script type="text/javascript" src="/Public/js/jquery.ui.widget.js"></script>
            <script type="text/javascript" src="/Public/js/jquery.iframe-transport.js"></script>
            <script type="text/javascript" src="/Public/js/jquery.fileupload.js"></script>
            <script>
                var url = "/index.php/TPH/CRUD/uploadImg";
                $('#fileupload').fileupload({
                    url: url,
                    dataType: 'json',
                    done: function (e, data) {
                        if(data.result.state == 1){
                            layer.alert(data.result.msg, {
                                icon: 1,
                                skin: 'layer-ext-moon'
                            })
                            $("#pic_show").attr("src","/Public/data/img/"+data.result.url);
                            $("#pic").val(data.result.url);
                        }else{
                            layer.alert(data.result.msg, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })

                        }
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .progress-bar').css(
                                'width',
                                progress + '%'
                        );
                    }
                }).prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');

            </script>

            <script>


                $("#form-signins").ajaxForm({
                    dataType:'json',
                    clearForm:false,
                    beforeSerialize:function(){
                        if ($('#teacher_names').val() == '' || $('#teacher_cat_id').val() == '') {
                            layer.alert("??", {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                            return false;
                        }
                    },

                    success:function(data){
                        if (data.state == 100) {
                            layer.alert(data.msg, {
                                icon: 1,
                                skin: 'layer-ext-moon'
                            })
                            setTimeout(function(){window.location.reload();},2000);
                        } else {
                            layer.alert(data.msg, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })

                        }
                    }
                });



                $(".del").click(function(){
                    var obj = $(this);
                    var id = $(this).attr("data-id");

                    layer.confirm('确认要进行删除 ？', {
                        btn: ['确认','取消'] //按钮
                    }, function(){
                        $.ajax({
                            type: "POST",
                            url:  "{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/delete')}",
                            data: {id:id},
                            dataType: "json",
                            success: function(data){
                                if(data.state==100){
                                    layer.msg(data.msg, {icon: 1});
                                    obj.parent().parent().parent().remove();
                                }else{
                                    layer.msg(data.msg, {icon: 2});
                                }
                            }
                        });
                    }, function(){

                    });


                })

                //                $(".check-btn").click(function(){
                //                    var obj = $(this);
                //                    var teacher_id = $(this).attr("data-id");
                //                    var teacher_type = $(this).attr("data-type");
                //                    if(teacher_type == 0){
                //                        teacher_type = 1;
                //                    }else{
                //                        teacher_type = 0;
                //                    }
                //                    layer.confirm('确认要进行该操作 ？', {
                //                        btn: ['确认','取消'] //按钮
                //                    }, function(){
                //                        $.ajax({
                //                            type: "POST",
                //                            url:  '/index.php/TPH/Teacher/TeacherType.html',
                //                            data: {teacher_id:teacher_id,teacher_type:teacher_type},
                //                            dataType: "json",
                //                            success: function(data){
                //                                if(data.state==100){
                //                                    layer.msg(data.msg, {icon: 1});
                //                                    if(teacher_type==0){
                //                                        obj.removeClass("btn-warning");
                //                                        obj.addClass("btn-primary");
                //                                        obj.attr('data-type',0);
                //                                        obj.children('span').text('已审核');
                //                                    }else{
                //                                        obj.removeClass("btn-primary");
                //                                        obj.addClass("btn-warning");
                //                                        obj.attr('data-type','1');
                //                                        obj.children('span').text('未审核');
                //                                    }
                //
                //                                }else{
                //                                    layer.msg(data.msg, {icon: 2});
                //                                }
                //                            }
                //                        });
                //                    }, function(){
                //
                //                    });
                //
                //
                //                })





                //                $(".chzn-select").chosen();
                //                $('.chzn-select').on('click', function(e){
                //                    var target = $(e.target).find('input[type=radio]');
                //                    var which = parseInt(target.val());
                //                    if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
                //                    else $('#form-field-select-4').removeClass('tag-input-style');
                //                });

            </script>