<link rel="stylesheet" href="/Public/assets/css/chosen.css" />
<script src="/Public/assets/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/css/lightbox.css" />
<script type="text/javascript" src="/Public/js/lightbox.js"></script>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <style>
        .centerbox{
            width: 100%;
        }
        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            direction: ltr;
            cursor: pointer;
        }
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }
        .span2{
            padding: 2px;
            border: 1px solid #DEDEDE;
            margin-bottom: 5px;
        }
        .span2 p{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/index.php/TPH/Index/index.html">首页</a>
        </li>
        <li class="active">管理员管理</li>
    </ul><!-- .breadcrumb -->

    <!-- <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- #nav-search -->
</div>

<div class="page-content">
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <h4 class="mt-0 header-title">角色列表</h4>
                    <div class="col-12" style="margin-bottom: 15px;">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="general-label">
                                    <form id="form-signins" class="form-inline" method="post" action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add')}" role="form">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">搜索条件1</label>
                                            <input type="text" id="role_name"name="name" class="form-control ml-2" id="exampleInputEmail2" placeholder="角色名称">
                                        </div>

                                        <!--<div class="form-group m-l-10">-->
                                        <!--<label class="sr-only" for="exampleInputPassword2">搜索条件2</label>-->
                                        <!--<input type="text" name="keyword2" class="form-control ml-2" id="exampleInputPassword2" placeholder="搜索条件2">-->
                                        <!--</div>-->

                                        <button type="submit" class="btn btn-sm btn-danger ml-2"><i class="mdi mdi-plus-circle"></i>添加</button>
                                        &nbsp;
                                        <!--<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="float:right;"><i class="mdi mdi-plus-circle"></i>添加一个新sys_role</button>-->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 20%;"><center>角色名称</center></th>
                            <th><center>权限</center></th>
                            <th style="width: 20%;"><center>操作</center></th>
                        </tr>
                        </thead>
                        <tbody>
                        <notempty name="sys_roleList">
                            <volist name="sys_roleList" id="vo">
                                <tr>
                                    <td>{$vo.name}</td><td>{$vo.authstr|default="<span style='color:red;'>暂未分配</span>"}</td>
                                    <td>
                                        <div class="button-items">
                                            <a class="btn btn-sm btn-success" href="{:U('SysRole/access',array('role'=>url_base64_encode($vo['id'])))}"><i class="mdi mdi-table-edit"></i>权限分配</a>
                                            <a class="btn btn-sm btn-danger del" href="javascript:void(0);" data-id="{$vo[id]}"><i class="mdi mdi-delete-forever"></i>删除</a>
                                        </div>
                                    </td>
                                <tr>
                            </volist>
                            <else/>
                            <td colspan="99" style="text-align:center;background: #cc213196;color: #fff;" class="danger"> <strong><i class="fa fa-meh-o"></i>
                                &nbsp;&nbsp;当前条件下没有数据</strong>
                            </td>
                        </notempty>
                    </table>

                    <td colspan="99" style="text-align:center">
                        <ul class="pagination">{$page}</ul>
                    </td>            </div>
            </div>
        </div>
    </div>
</div>






<script>


    $("#form-signins").ajaxForm({
        dataType:'json',
        clearForm:false,
        beforeSerialize:function(){
            if ($('#role_name').val() == '') {
                layer.alert("角色名称不能为空", {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })
                return false;
            }
        },

        success:function(data){
            if (data.state == 100) {
                layer.alert(data.msg, {
                    icon: 1,
                    skin: 'layer-ext-moon'
                })
                setTimeout(function(){window.location.reload();},2000);
            } else {
                layer.alert(data.msg, {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })

            }
        }
    });



    $(".del").click(function(){
        var obj = $(this);
        var id = $(this).attr("data-id");

        layer.confirm('确认要删除本条记录吗 ？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                type: "POST",
                url:  "{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/delete')}",
                data: {id:id},
                dataType: "json",
                success: function(data){
                    if(data.state==100){
                        layer.msg(data.msg, {icon: 1});
                        obj.parent().parent().parent().remove();
                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }, function(){

        });


    })







    $(".check-btn").click(function(){
        var obj = $(this);
        var teacher_id = $(this).attr("data-id");
        var teacher_type = $(this).attr("data-type");
        if(teacher_type == 0){
            teacher_type = 1;
        }else{
            teacher_type = 0;
        }
        layer.confirm('确认要进行该操作 ？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            $.ajax({
                type: "POST",
                url:  '/auto/index.php/TPH/Teacher/TeacherType.html',
                data: {teacher_id:teacher_id,teacher_type:teacher_type},
                dataType: "json",
                success: function(data){
                    if(data.state==100){
                        layer.msg(data.msg, {icon: 1});
                        if(teacher_type==0){
                            obj.removeClass("btn-warning");
                            obj.addClass("btn-primary");
                            obj.attr('data-type',0);
                            obj.children('span').text('已审核');
                        }else{
                            obj.removeClass("btn-primary");
                            obj.addClass("btn-warning");
                            obj.attr('data-type','1');
                            obj.children('span').text('未审核');
                        }

                    }else{
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }, function(){

        });


    })





</script>