


<link rel="stylesheet" href="/auto/Public/assets/css/chosen.css" />
<script src="/auto/Public/assets/js/chosen.jquery.min.js"></script>

<style type="text/css">
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.span2{
    padding: 2px;
    border: 1px solid #DEDEDE;
    margin-bottom: 5px;
}
.span2 p{
    margin-top: 3px;
    margin-bottom: 3px;
}
</style>
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="/auto/index.php/TPH/Index/index.html">首页</a>
			</li>
			<li class="active">新建sys_node</li>
		</ul><!-- .breadcrumb -->
	</div>


	<div class="col-xs-12">
	<div class="row">
	<div class="col-xs-9" style="margin:0 auto;">

    <fieldset>
      <div id="legend" class="">
        <legend class=""新建sys_node</legend>
      </div>
	  
	  
   

		<!--<div class="control-group">
			<div class="panel" id="uploadBox">
			 <div class="panel-body">
				<form class="mcit-dataform" id="data_form" method="post" action="/auto/index.php/TPH/CRUD/creatAllFiles">
				<input type="hidden" id="pic" name="pic" value="">
				<div class="panel-footer">    
					<div class="panel-mcit">
						<div class="col-xs-6">
							<span class="btn btn-warning fileinput-button">
								<i class="glyphicon glyphicon-plus"></i>
								<span>上传照片</span>
								<input id="fileupload" type="file" name="photo"></span>
							<br>
							<br>
							<div id="progress" class="progress mcit-progress">
								<div class="progress-bar"></div>
							</div>
						</div>

						<div class="clearfix"></div>

						<div class="col-xs-6" style="margin-left: 20px;">
							<div class="panel panel-mcit">
								<div class="panel-heading">
									<h5 class="panel-title">照片预览</h5>
								</div>
								<div class="panel-body">
									<img src="/auto/Public/data/img/" id="pic_show" class="img-responsive">
								</div>
							</div>
						</div>

						<div class="clearfix"></div>

					</div>
					</div>
					</form>
				</div>
			</div>
		</div>-->
		
		<form class="form-horizontal" method="post">
	<div class="form-group">
		<label class="col-md-2 control-label" for="name">name</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="name"
				 name="name" id="name" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="title">title</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="title"
				 name="title" id="title" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="status">status</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="status"
				 name="status" id="status" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="level">level</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="level"
				 name="level" id="level" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="module">module</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="module"
				 name="module" id="module" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="controller">controller</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="controller"
				 name="controller" id="controller" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="action">action</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="action"
				 name="action" id="action" />
		</div>
	</div><div class="form-group">
		<label class="col-md-2 control-label" for="code">code</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="code"
				 name="code" id="code" />
		</div>
	</div>	
	<div class="form-group">
		<div class="col-md-6 col-md-offset-2">
			<input type="submit" value="提交" class="btn btn-success" />
			<button type="button" class="btn btn" onclick="javascript:history.back(-1);">返回</button>
		</div>
	</div>
</form>
        <!--<div class="control-group">
         
          <label class="control-label" for="input01">人员简介</label>
          <div class="controls">
            <textarea name="teacher_brief" style="width:500px;height:200px;"></textarea>
            <p class="help-block"></p>
          </div>
        </div>-->
    </fieldset>

	</br>
	</br>
		<!--<button type="submit" class="btn btn-sm btn-warning">修改</button>
		<button type="button" class="btn btn-sm" onclick="javascript:history.back(-1);">返回</button>-->
  

</div>
</div>
</div>

<script type="text/javascript" src="/auto/Public/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/auto/Public/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/auto/Public/js/jquery.fileupload.js"></script>
<script>
	var url = "/auto/index.php/TPH/CRUD/uploadImg";
	$('#fileupload').fileupload({
		url: url,
		dataType: 'json',
		done: function (e, data) {
			if(data.result.state == 1){
				layer.alert(data.result.msg, {
					icon: 1,
					skin: 'layer-ext-moon'
				})
				$("#pic_show").attr("src","/auto/Public/data/img/"+data.result.url);
				$("#pic").val(data.result.url);
			}else{
				layer.alert(data.result.msg, {
					icon: 2,
					skin: 'layer-ext-moon'
				})
				
			}
		},
		progressall: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#progress .progress-bar').css(
				'width',
				progress + '%'
			);
		}
	}).prop('disabled', !$.support.fileInput)
		.parent().addClass($.support.fileInput ? undefined : 'disabled');

</script>

<script>
$("#form1").ajaxForm({
		dataType:'json',
		clearForm:false,
		beforeSerialize:function(){
				if ($('#teacher_name').val() == '') {
						layer.alert("人员名称不能为空!", {
							icon: 2,
							skin: 'layer-ext-moon'
						})
						return false;
				}
		},
		success:function(data){
				if (data.state == 100) {
					layer.alert(data.msg, {
						icon: 1,
						skin: 'layer-ext-moon'
					})
					setTimeout(function(){window.location.reload();},2000);
				} else {
					layer.alert(data.msg, {
						icon: 2,
						skin: 'layer-ext-moon'
					})

				}
		}
});


$(".chzn-select").chosen();
				$('.chzn-select').on('click', function(e){
				  var target = $(e.target).find('input[type=radio]');
				  var which = parseInt(target.val());
				  if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
				   else $('#form-field-select-4').removeClass('tag-input-style');
				});	
</script>