<div class="row" style="margin-top: 20px;">
    <form class="form-horizontal" id="form1" method="post">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">修改xxx</h4>
                <p class="text-muted m-b-30 font-14">----------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                            <input type="hidden" name="id" value="{$sys_node.id}" /><div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="name" name="name" id="name"  value="{$sys_node.name}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-label">title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="title" name="title" id="title"  value="{$sys_node.title}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="status" class="col-sm-2 col-form-label">status</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="status" name="status" id="status"  value="{$sys_node.status}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="level" class="col-sm-2 col-form-label">level</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="level" name="level" id="level"  value="{$sys_node.level}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="module" class="col-sm-2 col-form-label">module</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="module" name="module" id="module"  value="{$sys_node.module}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="controller" class="col-sm-2 col-form-label">controller</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="controller" name="controller" id="controller"  value="{$sys_node.controller}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="action" class="col-sm-2 col-form-label">action</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="action" name="action" id="action"  value="{$sys_node.action}" />
                                </div>
                            </div>
                        <div class="form-group row">
                                <label for="code" class="col-sm-2 col-form-label">code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="code" name="code" id="code"  value="{$sys_node.code}" />
                                </div>
                            </div>
                                    </div>
        </div>
    </div> <!-- end col -->
    <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
            <input type="submit" value="提交" class="btn btn-warning" />
            <button type="button" class="btn btn-primary" onclick="javascript:history.back(-1);">返回</button>
        </div>
    </div>
</form></div>

<script>
$("#form1").ajaxForm({
		dataType:'json',
		clearForm:false,
		beforeSerialize:function(){
				if ($('#teacher_name').val() == '') {
						layer.alert("人员名称不能为空!", {
							icon: 2,
							skin: 'layer-ext-moon'
						})
						return false;
				}
		},
		success:function(data){
				if (data.state == 100) {
					layer.alert(data.msg, {
						icon: 1,
						skin: 'layer-ext-moon'
					})
					setTimeout(function(){window.location.reload();},2000);
				} else {
					layer.alert(data.msg, {
						icon: 2,
						skin: 'layer-ext-moon'
					})

				}
		}
});


//$(".chzn-select").chosen();
				//$('.chzn-select').on('click', function(e){
				 // var target = $(e.target).find('input[type=radio]');
				  //var which = parseInt(target.val());
				  //if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
				  // else $('#form-field-select-4').removeClass('tag-input-style');
				//});
</script>