<link rel="stylesheet" href="__PUBLIC__/assets/css/chosen.css" />
<script src="__PUBLIC__/assets/js/chosen.jquery.min.js"></script>
<import type='css' file="css.lightbox" />
<import file="js.lightbox" />
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<style>
		.centerbox{
			width: 100%;
		}
		.fileinput-button input {
		    position: absolute;
		    top: 0;
		    right: 0;
		    margin: 0;
		    opacity: 0;
		    -ms-filter: 'alpha(opacity=0)';
		    font-size: 200px;
		    direction: ltr;
		    cursor: pointer;
		}
		.fileinput-button {
		    position: relative;
		    overflow: hidden;
		}
		.span2{
		    padding: 2px;
		    border: 1px solid #DEDEDE;
		    margin-bottom: 5px;
		}
		.span2 p{
		    margin-top: 3px;
		    margin-bottom: 3px;
		}
		</style>
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{:U('Index/index')}">首页</a>
			</li>
			<li class="active">视频管理</li>
		</ul><!-- .breadcrumb -->

		<!-- <div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
					视频列表
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="row">
				<div class="col-xs-12 col-sm-12">
						<div class="widget-box">
							<div class="widget-header">
								<h4>查找视频</h4>

								<span class="widget-toolbar">

									<a href="#" data-action="collapse">
										<i class="icon-chevron-up"></i>
									</a>

									<a href="#" data-action="close">
										<i class="icon-remove"></i>
									</a>
								</span>
							</div>

							<div class="widget-body">
								<div class="widget-main">
									<form class="form-inline" role="form" id="form-signin" action="{:U('video/index')}" method="get">
									  <div class="form-group">
									    <label class="sr-only">视频名称</label>
									    <input type="text" name="video_name" class="form-control" id="video_name" placeholder="请输入视频名称">
									  </div>

										<div class="form-group">
											<label class="sr-only">视频分类</label>
											<select class="form-control" name="video_cat_id" id="form-field-select-1">
													<option value="">全部分类</option>
												<volist name="cats" id="vo">
													<option value="{$vo.cat_id}">{$vo.cat_name}</option>
												</volist>
											</select>
										</div>


										<div class="form-group">
											<label class="sr-only">审核状态</label>
											<select class="form-control" name="video_type" id="video_typed">
													<option value="" selected="selected">全部</option>
													<option value="0" <if condition="$_GET['video_type'] eq '0'">selected="selected"</if>>已审核</option>
													<option value="1" <if condition="$_GET['video_type'] eq 1">selected="selected"</if>>未审核</option>
											</select>
										</div>



									  <button type="submit" class="btn btn-sm btn-warning">查找</button>
										<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="float:right;"><i class="icon-plus"></i>添加一个新视频</button>

									</form>

								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<!-- <th class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th> -->
										<th>ID</th>
										<th>视频封面</th>
										<th>所属村组</th>
										<th>视频课程名称</th>
										<th>教师</th>
										<th>更新时间</th>
										<th>视频简介</th>
										<th>操作</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<!-- <td class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</td> -->
										<empty name="result">
		                    <td colspan="99" style="text-align:center" class="danger"> <strong><i class="fa fa-meh-o"></i>
		                            &nbsp;&nbsp;当前条件下没有数据</strong>
		                    </td>
		                    <else />
		                    <volist name="result" id="data">
										<tr>
										<td>{$data.video_id}</td>
										<td><a href="__PUBLIC__/data/img/{$data.video_image}" data-lightbox="eseses{$data.video_image}" class="btn-link"><img src="__PUBLIC__/data/img/{$data.video_image}" width="50" height="60"/></a></td>
										<td>{$data.video_cat}</td>
										<td>{$data.video_name}</td>
										<td>{$data.video_teacher}</td>
										<td>{$data.video_uptime|date='Y-m-d H:i:s',###}</td>
										<td>{$data.video_brief}</td>
										<td>
										<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

											
											
											<a class="btn btn-sm btn-success" href="{:U('video/updateVideo',array('id'=>$data['video_id']))}">
											<span class="bigger-110 no-text-shadow">修改视频信息</span>
											</a>

											<button class="btn btn-sm <if condition = "$data['video_type'] eq 1">btn-warning<else/>btn-primary</if> check-btn" data-id="{$data.video_id}" data-type="{$data.video_type}">
												<i class="icon-bell bigger-110"></i>
												<span class="bigger-110 no-text-shadow"><if condition = "$data['video_type'] eq 0">已审核<else/>未审核</if></span>
											</button>

											<button class="btn btn-sm btn-danger del" data-id="{$data.video_id}">
												<i class="icon-edit bigger-110"></i>
												<span class="bigger-110 no-text-shadow">删除</span>
											</button>



										</div>


											</td>
										</tr>
									</volist>
							</empty>

						<tr>
								<td colspan="99" style="text-align:center">
										<ul class="pagination">{$pageView}</ul>
								</td>
						</tr>


					</tbody>
				</table>
			</div><!-- /.table-responsive -->
		</div><!-- /span -->
	</div><!-- /row -->




	<!--模态框-->
	<!-- Modal -->
	<form role="form" id="form-signins" action="{:U('video/addvideo')}" method="POST">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">添加一个新视频</h4>
		  </div>
		  <div class="modal-body">
						<div class="form-group">
							<label for="">视频名称</label>
							<input type="text" class="form-control" id="video_names" name="video_name" placeholder="请输入视频名称">
						</div>
						
						
						<div class="form-group">
							<label for="exampleInputPassword1">授课教师</label>
							<select class="form-control" name="video_teacher" id="video_teacher">
								<volist name="teachers" id="vo2">
									<option value="{$vo2.teacher_id}">{$vo2.teacher_name}</option>
								</volist>
							</select>
							<p class="help-block">没有找到合适的授课教师 ？<a href="{:U('Teacher/index')}" class="btn-link">添加新的授课教师</a>.</p>
						</div>

						

						<div class="form-group">
							<label for="exampleInputPassword1">选择一个视频所在村组</label>
							<select class="chzn-select form-control" name="video_cat_id" id="video_cat_id">
								<volist name="cats" id="vo">
									<option value="{$vo.cat_id}">{$vo.cat_name}</option>
								</volist>
							</select>
							<p class="help-block">没有找到合适的村组 ？<a href="{:U('System/cats')}" class="btn-link">添加新的村组</a>.</p>
						</div>


						<div class="panel" id="uploadBox">
						 <div class="panel-body">
							<form class="mcit-dataform" id="data_form" method="post" action="__ACTION__">
							<input type="hidden" id="pic" name="pic">
							<div class="panel-footer">    
								<div class="panel-mcit">
									<div class="col-xs-12">
										<span class="btn btn-warning fileinput-button">
											<i class="glyphicon glyphicon-plus"></i>
											<span>上传封面</span>
											<input id="fileupload" type="file" name="photo"></span>
										<br>
										<br>
										<div id="progress" class="progress mcit-progress">
											<div class="progress-bar"></div>
										</div>
									</div>

									<div class="clearfix"></div>

									<div class="col-xs-12" style="margin-left: 20px;">
										<div class="panel panel-mcit">
											<div class="panel-heading">
												<h5 class="panel-title">封面预览</h5>
											</div>
											<div class="panel-body">
												<img src="" id="pic_show" class="img-responsive">
											</div>
										</div>
									</div>

									<div class="clearfix"></div>

								</div>
								</div>
								</form>
							</div>
						</div>

						<div class="form-group">
							<label for="exampleInputFile">课程简介</label>
							<textarea name="video_brief" id="video_brief" style="width:100%;height:100px;"></textarea>
						</div>
						
						<div class="form-group">
							<label for="exampleInputFile">详细内容</label>
							<textarea name="video_content" id="myEditor" style="width:100%;height:100px;"></textarea>
						</div>
						
						



		  </div>
		  <div class="modal-footer">
					<button type="submit" class="btn btn-primary">添加</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

		  </div>
		</div>
	  </div>
	</div>
	</form>
	<!-------->

<import file="js.jquery#ui#widget" />
<import file="js.jquery#iframe-transport" />
<import file="js.jquery#fileupload" />
<script>
	var url = "__URL__/uploadImg";
	$('#fileupload').fileupload({
		url: url,
		dataType: 'json',
		done: function (e, data) {
			if(data.result.state == 1){
				layer.alert(data.result.msg, {
					icon: 1,
					skin: 'layer-ext-moon'
				})
				$("#pic_show").attr("src","__PUBLIC__/data/img/"+data.result.url);
				$("#pic").val(data.result.url);
			}else{
				layer.alert(data.result.msg, {
					icon: 2,
					skin: 'layer-ext-moon'
				})
				
			}
		},
		progressall: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#progress .progress-bar').css(
				'width',
				progress + '%'
			);
		}
	}).prop('disabled', !$.support.fileInput)
		.parent().addClass($.support.fileInput ? undefined : 'disabled');

</script>
<import file="js.ueditor_mcit.ueditor#config" />
<import file="js.ueditor_mcit.ueditor#all" />
<script>
var ue = UE.getEditor('myEditor');
</script>

<script>


$("#form-signins").ajaxForm({
		dataType:'json',
		clearForm:false,
		beforeSerialize:function(){
				if ($('#video_names').val() == '' || $('#video_cat_id').val() == '') {
						layer.alert("必须输入视频名称,并选择视频的村组!", {
							icon: 2,
							skin: 'layer-ext-moon'
						})
						return false;
				}
		},
		
		success:function(data){
				if (data.state == 100) {
					layer.alert(data.msg, {
						icon: 1,
						skin: 'layer-ext-moon'
					})
					setTimeout(function(){window.location.reload();},2000);
				} else {
					layer.alert(data.msg, {
						icon: 2,
						skin: 'layer-ext-moon'
					})

				}
		}
});

		

		$(".del").click(function(){
				var obj = $(this);
				var video_id = $(this).attr("data-id");
				
				layer.confirm('确认要进行删除该视频 ？', {
					btn: ['确认','取消'] //按钮
				}, function(){
					$.ajax({
						type: "POST",
						url:  '{:U("video/del_video")}',
						data: {video_id:video_id},
						dataType: "json",
						success: function(data){
							if(data.state==100){
								layer.msg(data.msg, {icon: 1});
								obj.parent().parent().parent().remove();
							}else{
								layer.msg(data.msg, {icon: 2});
							}
						}
					});
				}, function(){

				});


			})



		



			$(".check-btn").click(function(){
				var obj = $(this);
				var video_id = $(this).attr("data-id");
				var video_type = $(this).attr("data-type");
				if(video_type == 0){
					video_type = 1;
				}else{
					video_type = 0;
				}
				layer.confirm('确认要进行该操作 ？', {
					btn: ['确认','取消'] //按钮
				}, function(){
					$.ajax({
						type: "POST",
						url:  '{:U("video/videoType")}',
						data: {video_id:video_id,video_type:video_type},
						dataType: "json",
						success: function(data){
							if(data.state==100){
								layer.msg(data.msg, {icon: 1});
								if(video_type==0){
										obj.removeClass("btn-warning");
										obj.addClass("btn-primary");
										obj.attr('data-type',0);
										obj.children('span').text('已审核');
								}else{
									obj.removeClass("btn-primary");
									obj.addClass("btn-warning");
									obj.attr('data-type','1');
									obj.children('span').text('未审核');
								}
							
							}else{
								layer.msg(data.msg, {icon: 2});
							}
						}
					});
				}, function(){

				});


			})
			
			
			
			
			
			
			
$(".chzn-select").chosen();
				$('.chzn-select').on('click', function(e){
				  var target = $(e.target).find('input[type=radio]');
				  var which = parseInt(target.val());
				  if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
				   else $('#form-field-select-4').removeClass('tag-input-style');
				});	
</script>


